USE [master]
GO
/****** Object:  Database [WaveAlertDB]    Script Date: 2026. 04. 19. 23:25:09 ******/
CREATE DATABASE [WaveAlertDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WaveAlertDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXP2025\MSSQL\DATA\WaveAlertDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WaveAlertDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXP2025\MSSQL\DATA\WaveAlertDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WaveAlertDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WaveAlertDB]
GO
/****** Object:  User [webuser]    Script Date: 2026. 04. 19. 23:25:10 ******/
CREATE USER [webuser] FOR LOGIN [webuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [webuser]
GO
/****** Object:  Table [dbo].[certificates]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certificates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[issue_date] [date] NOT NULL,
	[valid_until] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[file_type] [nvarchar](50) NULL,
	[file_size] [int] NULL,
	[uploaded_by] [int] NULL,
	[category] [nvarchar](100) NULL,
	[is_public] [bit] NULL,
	[uploaded_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_participants]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_participants](
	[event_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[registered_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[event_date] [datetime2](7) NOT NULL,
	[location] [nvarchar](255) NULL,
	[created_by] [int] NULL,
	[max_participants] [int] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[event_type] [nvarchar](50) NULL,
	[target_group_id] [int] NULL,
	[end_date] [datetime2](7) NULL,
	[assigned_coach_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_members]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_members](
	[group_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[joined_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[members]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[membership_number] [nvarchar](50) NULL,
	[join_date] [date] NULL,
	[membership_type] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message_recipients]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message_recipients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[message_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NOT NULL,
	[group_id] [int] NULL,
	[subject] [nvarchar](255) NULL,
	[content] [nvarchar](max) NOT NULL,
	[priority] [nvarchar](20) NULL,
	[sent_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[title] [nvarchar](500) NULL,
	[status] [nvarchar](20) NULL,
	[expires_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[race_minutes]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[race_minutes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[verseny_neve] [nvarchar](255) NULL,
	[helye] [nvarchar](255) NULL,
	[ideje] [nvarchar](100) NULL,
	[rendezoje] [nvarchar](255) NULL,
	[versenyvezeto] [nvarchar](255) NULL,
	[jegyzokonyvvezeto] [nvarchar](255) NULL,
	[korosztaly] [nvarchar](100) NULL,
	[palya_jellege] [nvarchar](100) NULL,
	[futam_szama] [nvarchar](50) NULL,
	[rajthajo] [nvarchar](255) NULL,
	[celhajo] [nvarchar](255) NULL,
	[motorosok] [nvarchar](500) NULL,
	[birosag_elnok] [nvarchar](255) NULL,
	[birosag_birok] [nvarchar](500) NULL,
	[szel_rajtnal] [nvarchar](255) NULL,
	[szel_futam_kozben] [nvarchar](255) NULL,
	[elrajtoltak_szama] [nvarchar](max) NULL,
	[nem_rajtoltak] [nvarchar](max) NULL,
	[nem_futottak] [nvarchar](max) NULL,
	[korai_rajtolok] [nvarchar](max) NULL,
	[z_lobogos] [nvarchar](max) NULL,
	[fekete_lobogos] [nvarchar](max) NULL,
	[ovast_bejelento] [nvarchar](max) NULL,
	[elsonek_ideje] [nvarchar](100) NULL,
	[utolsonak_ideje] [nvarchar](100) NULL,
	[esemenyek] [nvarchar](max) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[race_reports]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[race_reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[race_name] [nvarchar](255) NOT NULL,
	[race_date] [date] NOT NULL,
	[location] [nvarchar](255) NULL,
	[boat_name] [nvarchar](100) NULL,
	[crew_members] [nvarchar](max) NULL,
	[placement] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[weather_conditions] [nvarchar](max) NULL,
	[submitted_by] [int] NULL,
	[submitted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trainings]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trainings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[trainer_id] [int] NULL,
	[training_date] [datetime2](7) NOT NULL,
	[duration_minutes] [int] NULL,
	[location] [nvarchar](255) NULL,
	[max_participants] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[transaction_type] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[transaction_date] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_documents]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_documents](
	[user_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[can_view] [bit] NULL,
	[can_edit] [bit] NULL,
	[granted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[assigned_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2026. 04. 19. 23:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[is_member] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[address] [nvarchar](500) NULL,
	[name]  AS (([first_name]+' ')+[last_name]) PERSISTED NOT NULL,
	[profile_image] [nvarchar](500) NULL,
	[birth_date] [date] NULL,
	[parent_name] [nvarchar](255) NULL,
	[parent_email] [nvarchar](255) NULL,
	[parent_phone] [nvarchar](50) NULL,
	[relationship] [nvarchar](50) NULL,
	[birth_place] [nvarchar](255) NULL,
	[mother_name] [nvarchar](255) NULL,
	[id_number] [nvarchar](50) NULL,
	[school_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[event_participants] ([event_id], [user_id], [status], [registered_at]) VALUES (19, 4, N'attended', CAST(N'2026-04-10T02:15:48.4700000' AS DateTime2))
INSERT [dbo].[event_participants] ([event_id], [user_id], [status], [registered_at]) VALUES (19, 5, N'attended', CAST(N'2026-04-10T02:15:48.4833333' AS DateTime2))
INSERT [dbo].[event_participants] ([event_id], [user_id], [status], [registered_at]) VALUES (19, 6, N'attended', CAST(N'2026-04-10T02:15:48.4766667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[events] ON 

INSERT [dbo].[events] ([id], [title], [description], [event_date], [location], [created_by], [max_participants], [status], [created_at], [updated_at], [event_type], [target_group_id], [end_date], [assigned_coach_id]) VALUES (2, N'tesztEdzes', N'ez egy teszt edzes', CAST(N'2026-03-09T12:00:00.0000000' AS DateTime2), N'Bmaria', 1, NULL, N'upcoming', CAST(N'2026-03-09T09:53:04.2066667' AS DateTime2), CAST(N'2026-03-23T11:06:33.7600000' AS DateTime2), N'training', 3, NULL, NULL)
INSERT [dbo].[events] ([id], [title], [description], [event_date], [location], [created_by], [max_participants], [status], [created_at], [updated_at], [event_type], [target_group_id], [end_date], [assigned_coach_id]) VALUES (4, N'Laser', N'Laser edzés', CAST(N'2026-04-09T16:00:00.0000000' AS DateTime2), N'BMária', 1, NULL, N'upcoming', CAST(N'2026-04-09T16:47:43.2200000' AS DateTime2), CAST(N'2026-04-09T16:47:43.2200000' AS DateTime2), N'training', NULL, CAST(N'2026-04-09T18:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[events] OFF
GO
INSERT [dbo].[group_members] ([group_id], [user_id], [joined_at]) VALUES (2, 1, CAST(N'2026-03-23T11:18:56.4000000' AS DateTime2))
INSERT [dbo].[group_members] ([group_id], [user_id], [joined_at]) VALUES (2, 4, CAST(N'2026-04-10T02:30:55.2066667' AS DateTime2))
INSERT [dbo].[group_members] ([group_id], [user_id], [joined_at]) VALUES (2, 5, CAST(N'2026-04-10T02:30:55.2000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[groups] ON 

INSERT [dbo].[groups] ([id], [name], [description], [created_by], [created_at], [updated_at], [is_deleted]) VALUES (1, N'Laser', NULL, 1, CAST(N'2026-03-03T17:31:25.6500000' AS DateTime2), CAST(N'2026-03-23T11:19:27.1466667' AS DateTime2), 1)
INSERT [dbo].[groups] ([id], [name], [description], [created_by], [created_at], [updated_at], [is_deleted]) VALUES (2, N'laserCsapat', NULL, 1, CAST(N'2026-03-03T17:35:43.5600000' AS DateTime2), CAST(N'2026-03-23T11:18:53.8766667' AS DateTime2), 0)
INSERT [dbo].[groups] ([id], [name], [description], [created_by], [created_at], [updated_at], [is_deleted]) VALUES (3, N'Sailer', NULL, 1, CAST(N'2026-03-03T17:55:35.5100000' AS DateTime2), CAST(N'2026-03-03T17:55:35.5100000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[groups] OFF
GO
SET IDENTITY_INSERT [dbo].[message_recipients] ON 

INSERT [dbo].[message_recipients] ([id], [message_id], [user_id], [created_at]) VALUES (1, 30, 1, CAST(N'2026-04-12T12:45:31.7000000' AS DateTime2))
INSERT [dbo].[message_recipients] ([id], [message_id], [user_id], [created_at]) VALUES (2, 31, 1, CAST(N'2026-04-16T10:24:14.9066667' AS DateTime2))
INSERT [dbo].[message_recipients] ([id], [message_id], [user_id], [created_at]) VALUES (3, 32, 1, CAST(N'2026-04-16T11:10:05.4733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[message_recipients] OFF
GO
SET IDENTITY_INSERT [dbo].[messages] ON 

INSERT [dbo].[messages] ([id], [created_by], [group_id], [subject], [content], [priority], [sent_at], [created_at], [title], [status], [expires_at], [deleted_at]) VALUES (2, 1, NULL, NULL, N'teszt', N'normal', CAST(N'2026-03-08T21:36:17.1233333' AS DateTime2), CAST(N'2026-03-03T17:44:41.6166667' AS DateTime2), N'Teszt', N'sent', NULL, NULL)
INSERT [dbo].[messages] ([id], [created_by], [group_id], [subject], [content], [priority], [sent_at], [created_at], [title], [status], [expires_at], [deleted_at]) VALUES (3, 1, NULL, NULL, N'ez csak egy teszt üzenet', N'normal', CAST(N'2026-03-08T15:28:31.6533333' AS DateTime2), CAST(N'2026-03-08T15:28:27.5700000' AS DateTime2), N'teszt2', N'sent', CAST(N'2020-01-01T00:10:00.000' AS DateTime), NULL)
INSERT [dbo].[messages] ([id], [created_by], [group_id], [subject], [content], [priority], [sent_at], [created_at], [title], [status], [expires_at], [deleted_at]) VALUES (17, 1, NULL, NULL, N'Kedves Tagok!

A téli szünet alatt is lesz lehetőség vitorlázni a jó időjárás esetén. Kérjük, kövessétek az egyesület híreit!

Sportszeretettel,
BMFVSE Vezetőség', N'normal', CAST(N'2026-04-10T00:31:35.3080000' AS DateTime2), CAST(N'2026-04-10T02:31:35.3233333' AS DateTime2), N'Téli szünet vitorlázási program', N'sent', CAST(N'2026-04-08T00:31:35.033' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[messages] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [name], [description], [created_at]) VALUES (1, N'manage_users', N'Felhasználók kezelése (létrehozás, módosítás, törlés)', CAST(N'2026-04-02T19:24:52.9933333' AS DateTime2))
INSERT [dbo].[permissions] ([id], [name], [description], [created_at]) VALUES (2, N'manage_roles', N'Szerepkörök kezelése', CAST(N'2026-04-02T19:24:53.0033333' AS DateTime2))
INSERT [dbo].[permissions] ([id], [name], [description], [created_at]) VALUES (3, N'create_training', N'Edzések létrehozása', CAST(N'2026-04-02T19:24:53.0200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id]) VALUES (1, 1)
INSERT [dbo].[role_permissions] ([role_id], [permission_id]) VALUES (1, 2)
INSERT [dbo].[role_permissions] ([role_id], [permission_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [description], [created_at]) VALUES (1, N'admin', N'Rendszergazda - teljes hozzáférés', CAST(N'2026-03-02T19:22:10.3633333' AS DateTime2))
INSERT [dbo].[roles] ([id], [name], [description], [created_at]) VALUES (2, N'member', N'Egyesületi tag', CAST(N'2026-03-02T19:22:10.3633333' AS DateTime2))
INSERT [dbo].[roles] ([id], [name], [description], [created_at]) VALUES (3, N'trainer', N'Edzo', CAST(N'2026-03-02T19:22:10.3633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[user_roles] ([user_id], [role_id], [assigned_at]) VALUES (1, 1, CAST(N'2026-03-02T19:54:53.3400000' AS DateTime2))
INSERT [dbo].[user_roles] ([user_id], [role_id], [assigned_at]) VALUES (4, 2, CAST(N'2026-04-02T19:21:50.4066667' AS DateTime2))
INSERT [dbo].[user_roles] ([user_id], [role_id], [assigned_at]) VALUES (5, 2, CAST(N'2026-04-02T19:21:50.4166667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password], [first_name], [last_name], [phone], [is_member], [created_at], [updated_at], [address], [profile_image], [birth_date], [parent_name], [parent_email], [parent_phone], [relationship], [birth_place], [mother_name], [id_number], [school_name]) VALUES (4, N'kovacs.anna@bmfvse.hu', N'$2a$10$9MAKFbm2/xOWXiDUozXIyuTf7nCJmffllfRNwS81g5/a6Ig3e38Oe', N'Kovács', N'Anna', NULL, 0, CAST(N'2026-04-02T19:21:50.3966667' AS DateTime2), CAST(N'2026-04-02T19:23:52.1433333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [email], [password], [first_name], [last_name], [phone], [is_member], [created_at], [updated_at], [address], [profile_image], [birth_date], [parent_name], [parent_email], [parent_phone], [relationship], [birth_place], [mother_name], [id_number], [school_name]) VALUES (5, N'nagy.peter@bmfvse.hu', N'$2a$10$9MAKFbm2/xOWXiDUozXIyuTf7nCJmffllfRNwS81g5/a6Ig3e38Oe', N'Nagy', N'Peter', NULL, 0, CAST(N'2026-04-02T19:21:50.4133333' AS DateTime2), CAST(N'2026-04-02T19:23:52.1500000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_documents_category]    Script Date: 2026. 04. 19. 23:25:10 ******/
CREATE NONCLUSTERED INDEX [idx_documents_category] ON [dbo].[documents]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_events_date]    Script Date: 2026. 04. 19. 23:25:10 ******/
CREATE NONCLUSTERED INDEX [idx_events_date] ON [dbo].[events]
(
	[event_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__members__629A974A5119DA7C]    Script Date: 2026. 04. 19. 23:25:10 ******/
ALTER TABLE [dbo].[members] ADD UNIQUE NONCLUSTERED 
(
	[membership_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__members__B9BE370EBD7ED6E6]    Script Date: 2026. 04. 19. 23:25:10 ******/
ALTER TABLE [dbo].[members] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__message___E0248D97D81B5EFF]    Script Date: 2026. 04. 19. 23:25:10 ******/
ALTER TABLE [dbo].[message_recipients] ADD UNIQUE NONCLUSTERED 
(
	[message_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_messages_sent_at]    Script Date: 2026. 04. 19. 23:25:10 ******/
CREATE NONCLUSTERED INDEX [idx_messages_sent_at] ON [dbo].[messages]
(
	[sent_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__72E12F1BBE8ADEDC]    Script Date: 2026. 04. 19. 23:25:10 ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_race_reports_date]    Script Date: 2026. 04. 19. 23:25:10 ******/
CREATE NONCLUSTERED INDEX [idx_race_reports_date] ON [dbo].[race_reports]
(
	[race_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B14E762FC]    Script Date: 2026. 04. 19. 23:25:10 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_transactions_date]    Script Date: 2026. 04. 19. 23:25:10 ******/
CREATE NONCLUSTERED INDEX [idx_transactions_date] ON [dbo].[transactions]
(
	[transaction_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_transactions_user]    Script Date: 2026. 04. 19. 23:25:10 ******/
CREATE NONCLUSTERED INDEX [idx_transactions_user] ON [dbo].[transactions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164AC729FC9]    Script Date: 2026. 04. 19. 23:25:10 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 2026. 04. 19. 23:25:10 ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[certificates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[certificates] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT ((0)) FOR [is_public]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[event_participants] ADD  DEFAULT ('registered') FOR [status]
GO
ALTER TABLE [dbo].[event_participants] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT ('upcoming') FOR [status]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[group_members] ADD  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[groups] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[groups] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[groups] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[members] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[members] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[members] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[message_recipients] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ('normal') FOR [priority]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ('sent') FOR [status]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[race_minutes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[race_minutes] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[race_reports] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[trainings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[trainings] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [transaction_date]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ('completed') FOR [status]
GO
ALTER TABLE [dbo].[user_documents] ADD  DEFAULT ((1)) FOR [can_view]
GO
ALTER TABLE [dbo].[user_documents] ADD  DEFAULT ((0)) FOR [can_edit]
GO
ALTER TABLE [dbo].[user_documents] ADD  DEFAULT (getdate()) FOR [granted_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_member]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[certificates]  WITH CHECK ADD  CONSTRAINT [FK_certificates_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[certificates] CHECK CONSTRAINT [FK_certificates_user]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[event_participants]  WITH CHECK ADD FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_participants]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK_events_assigned_coach] FOREIGN KEY([assigned_coach_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK_events_assigned_coach]
GO
ALTER TABLE [dbo].[group_members]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[groups] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[group_members]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[groups]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[members]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[message_recipients]  WITH CHECK ADD FOREIGN KEY([message_id])
REFERENCES [dbo].[messages] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[message_recipients]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[groups] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[race_minutes]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[race_reports]  WITH CHECK ADD FOREIGN KEY([submitted_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[trainings]  WITH CHECK ADD FOREIGN KEY([trainer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_documents]  WITH CHECK ADD FOREIGN KEY([document_id])
REFERENCES [dbo].[documents] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_documents]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
USE [master]
GO
